# Python 기초 문법

## 1. Comment, Print

### 1.1 주석 (comment)
- 코드가 실행되지 않는 라인.
- 코드에 대한 설명, 잠시 코드 사용을 안 하고 싶을 때

In [1]:
# = ctrl+/
# 여러 줄 한번에 주석처리 하려면 블록 잡고 ctrl+/

### 1.2 출력 (print)
- 데이터 출력
- print에는 라인을 바꾸라는 end="\n"이 숨겨져 있음.

In [163]:
print("dss7")
print("dss8")

dss7
dss8

In [165]:
# end=""를 직접 입력해주면 라인 바꾸기 외에 다른 것으로 변경 가능

print("dss7", end="\t") # tab
print("dss8")

dss7	dss8

In [22]:
# 코드가 길 때 역슬래시\ 사용

print("this is good data science school!\
     this is good data science school!\
     this is good data science school!")

this is good data science school!     this is good data science school!     this is good data science school!

##### format

In [166]:
s="data"
print("{} science".format(s))

data science

In [12]:
s="data"
n=1
print("{}. {} science".format(n,s))

1. data science

In [16]:
# 순서 상관 없이!

s="data"
n=1
print("{number}. {st} science".format(number=n,st=s))
print("{number}. {st} science".format(st=s, number=n))

1. data science
1. data science

## 2. 식별자

식별자: 변수, 함수 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
- 규칙
     - 대소문자 구분
     - 소문자(a~z), 대문자(A~Z), 숫자(0~9), 특수기호(_) 사용 가능
     - 가장 앞에는 `__`(언더바 두개) 사용 지양!! 
     - 가장 앞에 숫자 사용 불가
     - 예약어 사용 불가 예: print, def, class, True, False...

## 3. 변수 (Variable)
- 변수: 메모리에 데이터를 저장하기 위한 저장공간의 이름

In [28]:
# 선언 '=' equal이 아니라 대입의 의미!

a=1
b="python"
a, b

(1, 'python')

In [167]:
# 식별자의 규칙에 맞지 않는 변수 햘당 예시

# abc%=10
# 1_abc=10
# class=10

In [2]:
# 다중할당

a, b=1, 2 # 한 줄에 여러 변수 할당
a, b

(1, 2)

In [169]:
c=d=e=3 # 같은 값을 여러 변수에 할당
c,d,e

(3, 3, 3)

In [36]:
# c,d,e는 각각 독립된 메모리에 저장되므로, 하나를 바꾸면 그것만 바뀜

c=5
c,d,e

(5, 3, 3)

## 4. 자료형 (Datatype)
- number: int, float, complex
- boolean: True, False
- string: 문자열(문자들의 집합)
- collection
    - list
    - tuple
    - dictionary 
    - set

### 4.1 Number

cf. 동적타이핑: int, float 등을 선언할 필요 없이 자동으로 데이터 타입이 들어감.

#### 1)  int (정수)

- python 2는 제한적(-2`**`31 - 1 ~ 2`**`31), python 3는 무제한

In [1]:
a,b,c,d=0,1234,-6789,+2345
print(type(a),type(b),type(c),type(d))
a,b,c,d

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

(0, 1234, -6789, 2345)

#### 2) float (소수점이 있는 실수)

In [44]:
a,b,c,d=0.0,1234.123,-6789.123,+2345.123
print(type(a),type(b),type(c),type(d))
a,b,c,d

<class 'float'> <class 'float'> <class 'float'> <class 'float'>

(0.0, 1234.123, -6789.123, 2345.123)

#### 3) complex (복소수)

In [3]:
# 선언 (두 가지 방법)

a=2+3j
b=complex(5,-2)
type(a),a,type(b),b

(complex, (2+3j), complex, (5-2j))

In [4]:
# 실수부 a.real / 허수부 a.imag

a.real, a.imag, type(a.real), type(a.imag)

(2.0, 3.0, float, float)

In [5]:
# 연산

a+b, a*b, a/b

((7+1j), (16+11j), (0.1379310344827586+0.6551724137931034j))

In [6]:
# 켤레복소수 a.conjugate()

a.conjugate(), b.conjugate()

((2-3j), (5+2j))

In [7]:
# 복소수의 크기 (절댓값 개념)

abs(a), abs(b)

(3.605551275463989, 5.385164807134504)

### 4.2 Boolean
- True / False (대문자!)

In [56]:
a,b=True,False
print(type(a),type(b))
a,b

<class 'bool'> <class 'bool'>

(True, False)

### 4.3 String

#### 1) 문자열 선언

In [9]:
a,b,c="data",'science', 'data "science" good'
print(type(a),type(b),type(c))
a,b,c

<class 'str'> <class 'str'> <class 'str'>

('data', 'science', 'data "science" good')

In [11]:
# 여러 줄 """ """ or ''' '''

ms="""data
science
school"""
ms

'data\nscience\nschool'

In [12]:
# """ """은 dogstring을 작성할 때 많이 사용됨.

def test(a,b,c):
    """
    a: float
    b; string
    c: interger
    """

In [70]:
# python에 있는 기능! 문자열 반복 간단하게 가능

a="data "*10
a

'data data data data data data data data data data '

#### 2) 문자열 offset
- offset: 문자열을 자르거나 특정 위치의 문자 출력 `[start:end:stride]`
- stride에 아무것도 안 쓰면 1이 들어간 것과 같음

In [4]:
# 맨 앞은 0, 맨 뒤는 -1

# s[a:b] ==> a<=x<b (뒤에껀 포함 안 됨)

s="abcdef"
d="2015-11-21"
s[3], s[-2], s[1:3], d[-2:]

('d', 'e', 'bc', '21')

In [5]:
# [::a] ==> a만큼 건너뛴 문자 반환

# [::-1] ==> reverse 기능

s[::1] , s[::2], s[::-1]

('abcdef', 'ace', 'fedcba')

In [8]:
# len() --> 문자열의 길이 / 리스트 요소 개수

len(s)

6

In [10]:
s[:len(s)], s[:]

('abcdef', 'abcdef')

#### 3) 문자열 Method
- [문자열함수](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [11]:
s='data science'
s

'data science'

In [20]:
s1=s.upper()
s1

'DATA SCIENCE'

In [21]:
s2=s.lower()
s2

'data science'

In [87]:
# 함수 연결(chaining)해서도 쓸 수 있음

s.upper().lower()

'data science'

In [22]:
# find - 해당 문자열의 위치 (없으면 -1 반환)

s.find("a"),s.find("ta"),s.find("test")

(1, 2, -1)

In [23]:
# index - find와 같지만 문자열이 없을 때 에러가 발생되게 하고 싶으면 index를 사용

# s.index(),s.index("ta"),s.index("test")

In [95]:
s.count("a"), s.count("Data")

(2, 1)

In [24]:
# 공백 제거

s=" data science "
s.lstrip(), s.rstrip(), s.strip()

('data science ', ' data science', 'data science')

In [99]:
s.replace("data","test"), s.replace("a","e")

(' test science ', ' dete science ')

In [25]:
# split() - 특정 문자열로 분리 후 리스트 형태로 리턴 (문자열을 단어별로 리스트로 만들고 싶을 때!!!)

s.split(" ")

['', 'data', 'science', '']

In [31]:
# 함수 연결

s.strip().split(" ")

['data', 'science']

In [102]:
s="data,science"
s.split(",")

['data', 'science']

In [14]:
# a의 문자열들을 -로 결합

a=["fast","campus","data","science"]
print("-".join(a))

fast-campus-data-science

### 4.4 List
- 순서가 있는 데이터들의 집합을 가지는 데이터 타입

#### 1) 리스트 선언

In [1]:
a=["fast","campus", "data","science"]
b=[1,2,[3,4]]
c=[1,"fast",True]
print(type(a),type(b),type(c))
a,b,c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, [3, 4]], [1, 'fast', True])

#### 2) 리스트 offset

In [27]:
# offset 사용 가능 - 리스트 내 value 하나 하나에 대한

a[1], a[-2],a[::2],a[::-1]

('campus', 'data', ['fast', 'data'], ['science', 'data', 'campus', 'fast'])

#### 3) 리스트 데이터 수정
- offset 이용!

In [28]:
a[0]="test"
a

['test', 'campus', 'data', 'science']

#### 4) 리스트 Method

In [29]:
a.append("dss8") # append는 실행할 때마다 더해짐
a

['test', 'campus', 'data', 'science', 'dss8']

In [4]:
d=a.copy()
d.extend(["8기"]) # extend는 더하기 개념! 
d

['fast', 'campus', 'data', 'science', '8기']

In [30]:
# 오름차순 정렬
# 숫자와 문자열이 섞여 있는 리스트는 sort 할 수 없음.

a.sort()
a

['campus', 'data', 'dss8', 'science', 'test']

In [31]:
# 내림차순 정렬

a.reverse()
a

['test', 'science', 'dss8', 'data', 'campus']

In [32]:
a.index("test")

0

In [33]:
a.remove("dss8") # del a[2] 와 동일!
a

['test', 'science', 'data', 'campus']

In [34]:
# 특정 위치에 데이터 추가

a.insert(1,"dss8")
a

['test', 'dss8', 'science', 'data', 'campus']

In [35]:
# 가장 마지막 값을 리턴 후 삭제

a.pop()    # 가장 마지막 값만 리턴
a    # 리턴된 값을 삭제한 리스트 출력

['test', 'dss8', 'science', 'data']

In [ ]:
# a.pop(0) => 가장 첫번째 값 리턴 후 삭제 (Queue에서 get의 개념)

#### 5) 리스트 Copy
- 리스트 a를 복사할 땐 b=a가 아닌 b=a.copy() 함수를 사용해야 변경이 안 됨.

In [40]:
a=[1,2,3]
b=a
# a의 주소값을 복사

a,b

([1, 2, 3], [1, 2, 3])

In [41]:
a[2]=10

In [42]:
# b는 a와 같은 메모리를 참조 (같은 저장 공간에 두 개의 이름)
# => a가 바뀌면 b도 바뀜

a,b

([1, 2, 10], [1, 2, 10])

In [43]:
# copy()를 하는 순간 새로운 메모리가 생성됨

c=a.copy()
a,b,c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [44]:
b[2]=100

In [46]:
# b를 바꾸면 a와 b는 바뀌지만,
# C는 안 바뀜!!! b와는 다른 카피된 메모리(별도의 저장 공간)를 참조하고 있기 때문

a,b,c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

### 4.5 Tuple
- 리스트와 같이 순서가 있는 데이터 타입. 하지만 변경이 불가능
- 튜플 쓰는 이유: 리스트보다 메모리를 적게 사용하기 때문 -> 변경할 필요 없을 땐 튜플을 씀

#### 1) 튜플 선언

In [47]:
# 첫 번째 방법

a=1,2,3,4
type(a), a

(tuple, (1, 2, 3, 4))

In [175]:
# 두 번째 방법 - 보통 이렇게 많이 함

b=(1,2,3,4)
type(b), b

(tuple, (1, 2, 3, 4))

#### 2) 튜플 offset

In [176]:
# 리스트 offset과 동일

b[1], b[-1], b[:2], b[1:], b[::-1]

(2, 4, (1, 2), (2, 3, 4), (4, 3, 2, 1))

In [48]:
# 데이터 변경 불가 특성 -> 변경하려고 하면 error 발생

# b[1]=10

In [157]:
import sys 

ls=[1,2,3,4,5]
tu=(1,2,3,4,5)

print(sys.getsizeof(ls),sys.getsizeof(tu)) # byte

# 튜플의 메모리가 더 작음을 확인

104 88

### 4.6 Dictionary
- 데이터에 순서가 없음. -> offset의 슬라이싱 불가
- (key:value)의 쌍으로 이루어져 있는 데이터 타입

#### 1) 딕셔너리 선언

In [13]:
dic={
    1:"one",
    "A":["data","science"],
    "숫자":1234, # 맨 끝 콤마는 쓰나 안 쓰나 똑같지만, 써주는게 데이터를 추가하고자 할 때 좋음
}
type(dic), dic

(dict, {1: 'one', 'A': ['data', 'science'], '숫자': 1234})

#### 2) 딕셔너리 수정

In [12]:
# offset이용, key를 이용해 value 수정

dic[1]="하나"
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

In [5]:
# dic element 삭제

del dic[1]
dic

{'A': ['data', 'science'], '숫자': 1234}

#### 3) 딕셔너리 Method
- 딕셔너리 함수를 이용해 리스트 데이터를 가공
- keys, values, items, clear, get, copy, update

In [6]:
dic.keys()

dict_keys(['A', '숫자'])

In [7]:
dic.values()

dict_values([['data', 'science'], 1234])

In [8]:
dic.items() # key, value 모두 리턴

dict_items([('A', ['data', 'science']), ('숫자', 1234)])

In [9]:
# .items()는 for문에서 많이 사용하게 됨

for key, value in dic.items():
    print(key, value)

A ['data', 'science']
숫자 1234

In [10]:
# .clear() -  딕셔너리 데이터 모두 삭제

# dic.clear()
# dic

In [15]:
# .get(key) - 해당 key의 value 값 리턴

# dic[1] 없애기 전 dic를 다시 선언 후 봐주기.

dic.get(1), dic.get("A")

('one', ['data', 'science'])

In [16]:
# dic[3] 처럼 없는 key를 입력하면 error 발생
# key에 3이 없으면 "no data" 리턴하도록 하고 싶을 때 get 이용

dic.get(3, "no data")

'no data'

In [70]:
dic2=dic
dic, dic2

({1: 'one', 'A': ['data', 'science'], '숫자': 1234},
 {1: 'one', 'A': ['data', 'science'], '숫자': 1234})

In [71]:
dic[1]="하나" # 이렇게 하면 둘다 바뀜. copy()함수를 써야 둘다 바뀌는 걸 방지!
dic, dic2

({1: '하나', 'A': ['data', 'science'], '숫자': 1234},
 {1: '하나', 'A': ['data', 'science'], '숫자': 1234})

In [74]:
# copy

dic3=dic.copy()
dic, dic3

({1: '하나', 'A': ['data', 'science'], '숫자': 1234},
 {1: '하나', 'A': ['data', 'science'], '숫자': 1234})

In [76]:
dic[1]="one" # dic3는 바뀌지 않음! 다른 메모리를 참조하기 때문
dic, dic3

({1: 'one', 'A': ['data', 'science'], '숫자': 1234},
 {1: '하나', 'A': ['data', 'science'], '숫자': 1234})

In [77]:
# update - 두 개의 데이터를 합치고 싶을 때 사용

a={1:"a",2:"b"}
b={2:"c",3:"d"}
a,b

({1: 'a', 2: 'b'}, {2: 'c', 3: 'd'})

In [79]:
# a와 b에 같은 키가 있으면 value를 업데이트!
# a에 키가 없으면 그 데이터(key:value)를 추가 

a.update(b) 
a

{1: 'a', 2: 'c', 3: 'd'}

### 4.7 Set
- 중복되는 데이터가 없는 '집합' 형태의 데이터 타입
- 리스트 데이터에서 중복을 제거할 때 많이 활용
- 교집합, 합집합, 차집합과 같은 집합의 '연산'도 가능
- 순서가 있는 데이터 타입이 아님!

#### 1) 선언
: 리스트 형태의 데이터를 set()으로 형변환 해주는 방법으로 선언 (그리고 변수에 할당)

In [44]:
s=set([1,2,3,4,5,1,3,5]) # 중복되는 값을 제거해줌
type(s), s

(set, {1, 2, 3, 4, 5})

#### 2) 집합의 연산

In [32]:
s1=set([1,2,3,4])
s2=set([3,4,5,6])

# 교집합 - & , intersection

print(s1&s2) 
print(s1.intersection(s2))

{3, 4}
{3, 4}

In [33]:
# 합집합 - | (shift+역슬래시) , union

print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [34]:
# 차집합 - - , difference

print(s1-s2)
print(s1.difference(s2))

{1, 2}
{1, 2}

#### 3) set 데이터 수정

In [45]:
# 순서가 없기 때문에 offeset 이용 불가
# => 리스트로 변환 후 offset으로 수정하고 다시 set으로 형 변환 해야 함

# (수정할 거면 set을 애초에 쓰지 않지만..)

s=list(s)
s[1]=10
s=set(s)
s

# list(s) 1번째에 2를 10으로 수정. set은 순서가 상관없기 때문에 10이 어디든 들어갈 수 있음.
# 여기선 자동으로 오름차순 정렬한 듯.

{1, 3, 4, 5, 10}

## 5. 데이터 형변환
- 데이터 타입을 다른 데이터 타입으로 바꾸는 것
- 바꾸려는 데이터 타입에 따라서 형변환이 되는 것도 있고 안 되는 것도 있음.

### 5.1 문자열 <-> 숫자

In [46]:
# int() - 숫자로 된 문자열 -> 숫자

s="1234"
n=int(s) 
type(s),s,type(n),n

(str, '1234', int, 1234)

In [47]:
int(s)+1

# s+1 은 에러! (문자+숫자 안 됨)

1235

In [48]:
# str() - 숫자 -> 문자열

s+str(n)

'12341234'

### 5.2 boolean 형변환 
- bool() - 데이터 존재의 유무 판단

In [49]:
bool([]), bool([1,2,3]) # 리스트 데이터가 없으면([]) False

(False, True)

In [50]:
bool(-1), bool(0) # 숫자 0은 False

(True, False)

In [51]:
bool(""), bool("asdf") # 문자열 데이터가 없으면("" ) False

(False, True)

In [55]:
a,b="","a"

# if 문 내에서 자동으로 boolean으로 변환해서 T/F를 봐줌

if a:     # a가 True면 밑에 code 반환
    print("a is data")
if b:
    print("b is data")
    
# a는 데이터가 비어있어 False이기 때문에 반환 안 함.

b is data

### 5.3 문자열 <-> 리스트

In [56]:
# list() - 문자 하나하나가 리스트 내 데이터가 됨

s="data"
list(s)

['d', 'a', 't', 'a']

In [2]:
# split() - 문자열 -> 리스트 
        # 특정 문자를 기준으로 문자열을 쪼개어 리스트로 변환 시켜줌.

message="Hello World!"
print(message.split())

['Hello', 'World!']

In [48]:
# join() - 리스트 -> 문자열
        # join은 split와 반대로, 특정 문자의 삽입으로 리스트를 합쳐 하나의 문자열로 만들어줌.

words=["Hello", "World!"]
print(" ".join(words))
print(",".join(words))
print(", ".join(words))

Hello World!
Hello,World!
Hello, World!

### 5.4 튜플 <-> 딕셔너리

In [58]:
# dict() - 튜플 -> 딕셔너리

# (key, value) 형태의 튜플을 딕셔너리로 형변환

t=(("1","one"),(2,"two"))
d=dict(t)
d

{'1': 'one', 2: 'two'}

In [62]:
# tuple(.items()) - 딕셔너리 -> 튜플

# tuple(d)라고만 하면 key만 형변환되므로, tuple(d.items())를 이용해 key, value 모두 형변환하기

tuple(d.items())

(('1', 'one'), (2, 'two'))

## 6. 연산자
- 산술, 비교, 할당, 비트, 논리, 멤버, 식별

### 6.1 산술 연산자 
- +, -, `*`, /, //(몫), %(나머지), **(제곱)

In [63]:
print(5/2)
print(5//2)
print(5%2)
print(5**2)
print(2**0.5) # 루트 2는 **0.5를 이용

2.5
2
1
25
1.4142135623730951

### 6.2 비교 연산자 
- ==, !=, >(초과), <, >=(이상), <=

In [11]:
a,b,c=10,20,10

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=c)
print(a<c)
print(a<=c)

False
True
False
True
True
False
True

### 6.3 할당 연산자
- 산술 연산자 & =
- =, +=, -=, `*=`, /=, %=, //=, **=
- for 문에서 많이 활용

In [68]:
a=5
print(a)

a+=10 # a에 10을 추가한 값을 다시 a에 대입 (a=a+10 과 같지만 할당 연산자를 이용하는 게 더 좋음)
print(a)

a-=5
print(a)

a*=10
print(a)

a/=5
print(a)

a%=8
print(a)

5
15
10
100
20.0
4.0

In [69]:
# for문을 이용해 누적해서 계산할 때 많이 사용.

a=0
for num in range(1,6):
    a+=num
a

# 1에서 5까지 1+2+3+4+5 계산

15

### 6.4 비트 연산자 
- &, |, ^, ~, <<, >>
- 0,1 (이진수)로 바로 연산해서 속도가 빠름.
- 이용할 일은 없을 것..

In [70]:
a=3 #3의 이진수 011
b=5 #5의 이진수 101

print(a&b, bin(a&b)) # - 둘 다 1이어야 1, 하나라도 0이면 0
# 1 : 001 
# bin은 10진수를 2진수로 변환 (문자열)
# 1이라는 10진수를 2진수로 변환한게 0b1 (0b는 2진수를 나타냄. cf. 0o는 8진수, 0x는 16진수)

print(a|b, bin(a|b))  # - 둘 중 하나만 1이면 1
# 7 :111

print(a^b, bin(a^b)) # - 자릿수가 다르면 1, 같으면 0
#: 7 : 110
# exclusive or 연산 (or의 반대) 

print(~a, bin(~a)) 
# 보수. 논리회로 개념 알 필요 없음..
# 3의 보수는 -4

print(a<<2, bin(a<<2))
print(b>>2, bin(b>>2)) 
# a<<2 왼쪽으로 두칸 011이 1100이 됨. => <<은 * 2**n >>은 / 2**n

1 0b1
7 0b111
6 0b110
-4 -0b100
12 0b1100
1 0b1

### 6.5 논리 연산자 
- and, or, not => 조건문에서 사용

In [71]:
print(True and True)
print(True and False)

print(True or True)
print(True or False)

# print(a<b or c>d) 형태로 사용

print(not(False)) # F -> T로 바꿈
print(not(True)) # T -> F로 바꿈

True
False
True
True
True
False

### 6.6 멤버 연산자 
- in, not in

In [73]:
a=[1,2,3,4]

print(1 in a)
print(5 in a)

print(1 not in a)
print(5 not in a)

True
False
False
True

### 6.7 식별 연산자 
- is, is not (값을 봐주는 ==, !=와 달리 주소값을 비교)

In [7]:
x=300
y=300

print(x==y)
print(x is y) # 숫자 -> x와 y는 서로 다른 메모리

True
False

In [8]:
d="a"
e="a"

print(d==e)
print(d is e) # 문자열 -> d와 e는 서로 같은 값

True
True

In [79]:
a=[1,2,3]
b=a
print(a is b) # 리스트 => a와 b는 서로 같은 메모리

True

In [80]:
c=a.copy()
print(a is c)

# 즉, 컬렉션 데이터 타입은 주소값을 비교하기 때문에 
# a와 다른 공간인(다른 주소값을 갖는) c는 a와 같지 않음!

False